<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.foundUser) {%> 
      <ul>
        <li><%= foundUser.firstName %></li>
        <li><%= foundUser.lastName %></li>
        <li><%= foundUser.email %></li>
        <li><%= foundUser.age%></li>
        <li><%= foundUser.bio%></li>
      </ul>
    <% } %> 
    <a href="/">Back to home</a>
  </body>
</html>
